* {
  text-align: center;
  box-sizing: border-box;
}

:root {
  --background-color: #b0ffff;
  --box-color: #feffff;

}

body {
  background-color: var(--background-color);
}

header section {
  display: flex;
  align-items: center;
  justify-content: center;
}

header img {
  width: 100px;
}
